<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Nodeman</title>
</head>
<body>
    메인 페이지 입니다.<br>
    <%if(locals.user){%>
        <a href="/signOut">로그아웃</a>
        <a href="/board">게시판</a>
    <%}else{%>
        <form action="/signIn" method="POST">
            <input type="text" name="id" required/>
            <input type="password" name="password" required/>
            <button>login</button>
        </form>
        <a href="/signUp">회원가입</a>
    <%}%>    
</body>
</html>